li {
  list-style-type: none;
}
.container {
  margin: 0 auto;
  width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding: 20px 40px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1034px;
    padding: 20px 200px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
}
