.section {
  margin: 0 auto;
  padding-top: 86px;
  padding-bottom: 96px;
  background-image: url('../../images/homepage/bg-mob-bottom.svg');
  background-repeat: no-repeat;
  background-position: left 15% bottom;
}

.authBackground {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 526px;
  background: #f5f6fb;
  border-bottom-left-radius: 90px;
  background-image: url('../../images/homepage/bg-mob-top.svg');
  background-repeat: no-repeat;
  background-position: right 104px;
}

.kapusta {
  width: 183px;
  height: 47px;
  margin-bottom: 5px;
}

.title {
  margin-left: 11px;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.textWrapper {
  padding-left: 20px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {

  .authBackground {
    background-image: url('../../images/homepage/bg-tab-top.svg');
    background-repeat: no-repeat;
    background-position: left top 28px;
    background-size: contain;
  }

  .section {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url('../../images/homepage/bg-desk-bot.svg');
    background-repeat: no-repeat;
    background-position: left 25% bottom -10px;
  }

  .kapusta {
    width: 307px;
    height: 78px;
  }

  .title {
    margin-left: 44px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.18em;
  }

  .textWrapper {
    padding-left: 171px;
  }
}

@media screen and (min-width: 1280px) {

.authBackground {
  background-image: url('../../images/homepage/bg-desk-top.svg');
  background-repeat: no-repeat;
  background-position: right top 40px;
  background-size: contain;
  }

  .section {
    padding-top: 117px;
    padding-bottom: 117px;
    background-position: left 20% bottom;
  }

  .kapusta {
    width: 377px;
    height: auto;
  }

  .title {
    margin-left: 72px;
  }

  .textWrapper {
    padding-top: 191px;
    padding-left: 229px;
  }

  .mainWrapper {
    display: flex;
    justify-content: space-between;
  }

  .loginWrapper {
    padding-right: 91px;
  }
}
