.summaryTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  width: 230px;
  height: 38px;
  background: #f5f6fb;
  border: 2px solid #ffffff;
  border-radius: 20px 20px 0 0;
  border-bottom: 0;
}
.summaryList {
  list-style: none;
  width: 230px;
  padding: 0;
}

.summaryItem {
  height: 38px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
  padding-right: 20px;
  border-bottom: 0;
  background: #f5f6fb;
}
.summaryItem:last-child {
  border-radius: 0 0 20px 0;
}

.summaryText {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #52555f;
}

@media screen and (min-width: 1280px) {
    .summaryTitle,
    .summaryList{
     width: 213px;
  }
  .summaryItem {
    padding-left: 12px;
    padding-right: 12px;
  }
}
