.modalWrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modalContainer {
  width: 300px;
  height: 194px;
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
}

.closeButton {
  display: block;
  cursor: pointer;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
  color: #52555F;
  transition: all 250ms linear;
}

.closeButton:hover,
.closeButton:focus {
  color: #ff751d;
  font-weight: bolder;
  transition: all 250ms linear;
}

.title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #52555f;
}

.buttons {
  text-align: center;
}

.buttonStyles {
  background-color: transparent;
  border-radius: 16px;
  border: 2px solid #f5f6fb;
  width: 125px;
  height: 44px;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #52555f;
  cursor: pointer;
  transition: all 250ms linear;
}

.buttonStyles:hover,
.buttonStyles:focus {
  background-color: #ff751d;
  color: #ffffff;
  transition: all 250ms linear;
}

.buttonStyles:not(:last-child) {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .modalContainer {
    width: 380px;
  }
}
