@media screen and (max-width: 767px) {
    .calendarFormWrapp {
        width: 102px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .calendarFormWrapp {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 44px;
    }
}

@media screen and (min-width: 1280px) {
    .calendarFormWrapp {
        margin-right: 0px;
        
    }
}