.categoriesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 102px;
  height: 140px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.span {
  margin-bottom: 5px;
}

.svg {
  position: absolute;
  bottom: -3px;
}
.categoryName {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #52555f;
  margin-top: 5px;
  text-align: center;
}
.active {
  background-color: #ffdac0;
  fill: #ff751d;
  position: relative;
  margin: 5px 0;
  width: 59px;
  height: 46px;
  border-radius: 20px;
}
.background {
  position: relative;
  margin: 5px 0;
  background-color: #f5f6fb;
  width: 59px;
  height: 46px;
  border-radius: 20px;
}

.background:hover {
  background-color: #ffdac0;
  fill: #ff751d;
}
.backgroundActive {
  position: relative;
  margin: 5px 0;
  background-color: #ffdac0;
  width: 59px;
  height: 46px;
  border-radius: 20px;
  fill: #ff751d;
}
