.modalContainer {
    position: relative;
    top: 8px;
    max-height: 163px;
    max-width: 280px;
    border-radius: 30px;
    padding: 30px 25px;
    background: linear-gradient(117.84deg, #1D346A 2.84%, #031634 67.28%);
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.modalContainer::after {
    content: '';
    position: absolute;
    border: 11px solid transparent;
    border-bottom-color: #1D346A;
    top: 0;
    border-top: 0;
    left: 69px;
    margin-top: -10px;
}


.modalText {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: left;
    color: #FFFFFF;
}


.modalSecondText {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
}


@media screen and (min-width: 768px) {
    .modalContainer {
        position: absolute;
        top: 52px;
        left: 46px;
        max-width: 288px;
    }
}

/* @media screen and (min-width: 1280px) {
    .modalContainer {
        position: absolute;
        left: 549px;
        top: 143px;
        max-height: 163px;
        max-width: 288px;
    }
} */
.hnot {
    display: none;
}