ul{
    list-style: none;
}
  .PageHomeBackground {
      position: absolute;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 526px;
      background: #f5f6fb;
      border-bottom-left-radius: 90px;
  }

  .PageHomeWrapper {
      width: 704px;
      margin: 0 auto;
      margin-bottom: 40px;
      padding-top: 40px;
  }

  .BalanseWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
      padding-left: 40px;

  }

  .linkReport {
      text-decoration: none;
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.16px;
      letter-spacing: 0.04em;
      color: rgba(82, 85, 95, 0.7);
      justify-content: end;
      margin-right: 20px;
  }

  .vector {
      margin-left: 20px;
  }

  .PageHomebutton {
      width: 138px;
      height: 40px;
      border-radius: 20px 20px 0 0;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.16px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      border-style: none;
      background: #FAFBFD;
      cursor: pointer;
  }

  .active {
      color: #FF751D;
      background: #FEFEFE;;
  }

  .form {
      height: 616px;
      background: #ffffff;
      box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
      border-radius: 0px 30px 30px 30px;
  }

  .wrapForm {
      position: absolute;
      top: 184px;
  }

  .PageHomelistButton {
      display: flex;
  }

  .containerSummary {
    margin: 0 auto;
    width: 704px;
    padding-bottom: 57px;
    background-image: url(/src/images/mainpage/Bgtablet.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 70%;
}
  
  @media screen and (min-width: 1280px) {
      .PageHomeWrapper {
          width: 1098px;
      }

      .containerSummary {
          display: none;
      }

      .BalanseWrapper {
          justify-content: flex-end;
          margin-bottom: 8px;
      }

      .wrapperlinkReport {
          margin-left: 390px;
      }
      .PageHomeBackgroundImg{
        z-index: -2;
        position: fixed;
        height: 308px;
        width: 100vw;
        left: 0;
        bottom: 0;
        background-size: contain;
        background-image: url(/src/images/mainpage/BgBottom.svg);
        background-repeat: no-repeat;
        background-position: bottom;
      }
  }